<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-cartoes mb-5 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Criação de Cartões  </h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white">Faça sua empresa vender mais na internet. Sabemos como fazer!</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="">Cartões de visitas.</h1>
          <h3 class="text-secondary text-uppercase">4.000,00KZ</h3>
          <h6 class="mb-4 text-uppercase">impressão <span class="text-secondary text-uppercase">150.00kz</span> cada</h6>
        
          <p class="mb-4">
            Criação e produção de cartões de visitas personalizados para diversos segmentos. Passe mais credibilidade
            com os cartões profissionais, pois ele é o aperto de mão que deixamos com alguém. Ciamos cartões modernos
            para você se destacar entre tantas empresas do mesmo segmento, fortalecendo o branding do seu negócio. Além
            de cartões impressos.
          </p>

          <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar em Contacto WhatsApp</a>

        </div>
        <div class="col-lg-6 pt-4" style="min-height: 500px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/cartao.jpg"
              style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 pt-4" style="min-height: 500px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/cartao-de-visita-digital.png"
              style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
          </div>
        </div>

        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-2">Cartão de visitas digital e interativo.</h1>
         <h3 class="mb-4 text-secondary text-uppercase">8.000,00kz</h3>
         
          <p class="mb-4">
            Criação de Arte do Cartão de Visita Interativo, possibilita quee o seu público tem acesso para seu Site,
            Redes Sociais, Whatsapp e telefonemas com apenas um clique. Entrega em PDF.
          </p>
          <p>
            O cartão de visitas digital e interativo é prático e você nunca mais precisará imprimir cartões em gráficas, além de ser uma solução ecológica. Seu cliente terá as informações que você deseja informar, tudo na mão e um um clique. Enviando aos clientes, estes também podem enviar aos amigos, ampliando a divulgação do trabalho e atraindo novos clientes. É uma ótima ferramenta de marketing, pois é moderno e prático, ao contrario do cartão de papel que acaba \”morrendo\” no bolso ou na gaveta das pessoas
          </p>
          <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar em Contacto WhatsApp</a>

        </div>
      </div>
    </div>
  </div>



  


  <div class="container-xxl py-5">
    <div class="container">

      <div style="display: block; width: 100%;">
       
        <div class="tabs-container">

          <div aria-labelledby="tab_item-0"
            style="display: block;">

            <h2>Descrição</h2>

            <p> <i class="fa fa-check text-success me-3"></i> O cliente deverá mencionar as cores que tem preferencia para que possa ser desenvolvida a arte e quais as informações que farão parte do cartão de visita interativo.</p>
            <p> <i class="fa fa-check text-success me-3"></i> Tenha todas as informações da sua empresa/atividade profissional a um clique, WhatsApp, Telefones, Endereços com GPS, Emails, Redes Sociais, Vídeos e muito mais! </p>
            <p> <i class="fa fa-check text-success me-3"></i> Divulgue o seu trabalho enviando o arquivo PDF com todos os seus dados. Não precisa de instalação. </p>
            <p> <i class="fa fa-check text-success me-3"></i> Compatível com smartphones, facilitando o acesso rápido aos seus dados e com um design totalmente customizado seguindo a identidade visual de sua empresa/atividade profissional. </p>
 
          </div>

          <div class="tab-content">

            <h2>Informação adicional</h2>

            <table class="p_attributes table table-striped">
              <tbody>
                <tr class="">
                  <th class="">Serviço</th>
                  <td>
                    <p>Criação de Cartões de visitas, pronto para envio para gráfica. 
                      (CorelDraw).</p>
                  </td>
                </tr>
                <tr class="">
                  <th class="">Entrega em</th>
                  <td>
                    <p> PDF e EPS</p>
                  </td>
                </tr>
                <tr class="">
                  <th class="">Prazo</th>
                  <td>
                    <p>A entrega é feita em 3 dia(útil).</p>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>



      </div>


    </div>
  </div>
 

  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">

        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s"> 
          <h1 class="mb-5">VOCÊ TAMBÉM PODE GOSTAR DE…</h1>
        </div>

        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/papel-timbrado.jpg" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Papel Timbrado</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/flayer.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Flyers e panfletos</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">
              E-mail profissional</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->



</div>