<div>
  <!-- Page Header Start -->
  <div class="container-fluid page-dominio mb-1 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Domínios </h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white">Registre Domínios Nacionais e Internacionais</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->


  <div class="container-kk fadeInUp py-3" data-wow-delay="0.1s">
    <div class="overlay2 "></div>
    <div class="text11 container">

      <div class="row justify-content-center ">
        <div class="col-lg-12">
          <div class="text-center ">
            <form>
              <p style="padding: 0px;">
                Escolha o nome perfeito para o seu negocio e garanta a visibilidade e posicionamentos nos motores de
                busca da Google!
              </p>
              <p style="padding: 0px;">
                Um nome de domínio ou simplesmente domínio, é semelhante a um endereço residencial na vida real. É como
                as pessoas encontram o seu site online - introduzem o domínio num browser ou motor de pesquisa.
              </p>
              <p style="padding: 0px;">
                jlsystem.ao é um domínio, assim como Google.com e Facebook.com. Idealmente, um domínio deve ser
                registado com o mesmo nome da marca que representa.
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Service Start Explore Explore  -->
  <div class="container-fluid py-6 px-4 px-lg-0">
    <div class="row g-0">


      <div class="col-md-12 col-lg-12">
        <div class="ms-lg-5 ps-lg-5">
          <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Os melhores preços do mercado</h6>
            <h1 class="mb-5">REGISTRO DE DOMÍNIOS
              <br>
              PARA O SEU NEGÓCIO
            </h1>
          </div>
 
        </div>
      </div>
    </div>
  </div>





  <div class="container-kk py-7 fadeInUp" data-wow-delay="0.1s">

    <div class="img"></div>
    <div class="overlay3"></div>

    <div class="text11 container">

      <!-- Service Start -->
      <div class="container-fluid  px-4 px-lg-0">

        <div class="text-center text-lg-start wow fadeInUp py-3" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">Garante a identidade do seu negocio na web e consequentemente uma
            melhor interação com os seus clientes.</h6>
          <h1 class="mb-0">PORQUE TER UM DOMINIO PRIVADO ?</h1>
        </div>

        <div class="row g-0 ">
          <div class="col-md-12 col-lg-12">
            <div class="row g-0 ">
              <div class="col-md-12 col-lg-4">
                <div class="p-4">
                  <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2"
                      style="width: 45px; height: 45px;">
                      <i class="fa fa-water fa-1x text-primary p-2"></i></span>Visibilidade online</h4>
                  <p>Os buscadores Google, Yahoo e Bing costumam dar prioridade para sites com domínio próprio, uma vez
                    que a URL amigável contribui para uma melhor experiência do usuário.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-4">
                <div class="p-4">
                  <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2"
                      style="width: 45px; height: 45px;">
                      <i class="fa fa-water fa-1x text-primary p-2"></i></span>Estamos sempre online</h4>
                  <p>Aqui você jamais ficará na mão. Nossa equipe de suporte técnico está à disposição 24 horas por dia,
                    inclusive aos finais de semana e feriados.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-4">
                <div class="p-4">
                  <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2"
                      style="width: 45px; height: 45px;">
                      <i class="fa fa-water fa-1x text-primary p-2"></i></span>E-mail personalizado</h4>
                  <p>O e-mail personalizado passa mais credibilidade do que um e-mail oriundo de um endereço pessoal que
                    o destinatário não conhece, e isso também dependerá, é claro, do tipo de relacionamento que você
                    quer construir com seus leads e clientes.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-4">
                <div class="p-4">
                  <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2"
                      style="width: 45px; height: 45px;">
                      <i class="fa fa-water fa-1x text-primary p-2"></i></span>Custos incomparáveis</h4>
                  <p>Queremos fazer parte do seu sucesso, pois acreditamos que a Internet hoje é um dos melhores
                    caminhos e por isso, oferecemos o que há de melhor em hospedagem por um preço acessível.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-4">
                <div class="p-4">
                  <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2"
                      style="width: 45px; height: 45px;">
                      <i class="fa fa-water fa-1x text-primary p-2"></i></span>INTEGRAÇÃO COM CAIXA DE EMAIL</h4>
                  <p>Quando registar um domínio angolano, você pode associar o seu domínio a caixas de email, se comprar
                    um plano hospedagem, sem se preocupar em configurar o DNS do domínio.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-4">
                <div class="p-4">
                  <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2"
                      style="width: 45px; height: 45px;">
                      <i class="fa fa-water fa-1x text-primary p-2"></i></span>SEO</h4>
                  <p>Por fim, ao ter um domínio próprio, fica mais fácil configurar as técnicas de otimização de buscas
                    (SEO) e monitorar o tráfego de seu site ao utilizar ferramentas como o Google Analytics.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Service End -->
    </div>
  </div>
  <!-- Service End -->



  <!-- About End -->
  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">

        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
          <h1 class="mb-5">Podes precissar Também </h1>
        </div>

        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_hospedagem.webp" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Hospedagem de Sites</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_dominios.jpg" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Domínio</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">
              E-mail profissional</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->



</div>