<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-emal mb-5 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown">E-mail Profissionais</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white">Uma solução única e robusta de e-mail projetada para todas as empresas </li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->
 
  <!-- Service Start Explore Explore  -->
  <div class="container-fluid py-5 px-4 px-lg-0">
   
        <div class="ms-lg-5 ps-lg-5">
          <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">NOSSOS PLANOS ANUAL</h6>
            <h1 class="mb-5">Escolha o Seu Plano de E-Mails Profissionais</h1>
          </div> 
        </div>
    
  </div>
  <!-- Service End -->



  <div class="container-kk py-7 fadeInUp" data-wow-delay="0.1s">

    <div class="img"></div>
    <div class="overlay3"></div>

    <div class="text11 container">

      <!-- Service Start -->
      <div class="container-fluid  px-4 px-lg-0">

        <div class="text-center text-lg-start wow fadeInUp py-3" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">Por que ter um email corporativo é importante?</h6>
          <h1 class="mb-0">Porque sua empresa precisa de um email corporativo?</h1>
        </div>

        <div class="row g-0 ">
          <div class="col-md-12 col-lg-9">
            <div class="row g-0 ">

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                    <i class="fa fa-water fa-1x text-primary p-2"></i></span>Produtividade e integração</h4>
                  <p>O email profissional também contribui com a produtividade e a integração das equipes. através dele, é possível ter diversos usuários para o mesmo domínio. Dessa forma, cada equipe fica responsável pelo envio de um tipo de email, evitando a sobrecarga em um só departamento.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                    <i class="fa fa-water fa-1x text-primary p-2"></i></span>Informações centralizadas</h4>
                  <p>Tudo em um único lugar: em suas mãos. É isso o que acontece quando a sua empresa utiliza emails corporativos.
                    Cada sector ou cada funcionário poderá ter uma conta de email exclusiva. E mais, mesmo que um funcionário saia da empresa, o material não se perde.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                   <i class="fa fa-water fa-1x text-primary p-2"></i></span>Credibilidade e profissionalismo</h4>
                  <p>Um email profissional traz mais credibilidade e autoridade para a sua marca, mostrando que você tem comprometimento com sua imagem e com sua comunicação e relação com o cliente.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                    <i class="fa fa-water fa-1x text-primary p-2"></i></span>Email seguro com SSL</h4>
                  <p>Você tem gratuitamente Certificados SSL para preservar mensagens enviadas e recebidas de serem interceptadas e violadas no caminho.</p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-12 col-lg-3">
            <div class="p-4 border border-5 border-white bg-light">
              
              <h6 class="text-secondary text-uppercase py-4">Recursos de E-mail Profissional</h6>
         
              <div class=" wow fadeInUp" data-wow-delay="0.1s">

               
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Configuração Automática
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Segurança Avançada
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Registos Detalhados
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Gestão Intuitiva
                </p>
                
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Funções Automáticas
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Painel de Controle Webmail
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Gestão simplificada
                </p>
              
              
                
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- Service End -->


    </div>
  </div>
 

  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">

        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
          <h1 class="mb-5">Podes precissar Também </h1>
        </div>

        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_hospedagem.webp" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Hospedagem de Sites</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_dominios.jpg" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Domínio</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">
              E-mail profissional</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->



</div>