<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-gestao-midea mb-5 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown"> Gestao de redes sociais</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white"> CONQUISTE MAIS CLIENTES ATRAVÉS DAS REDES SOCIAIS!</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="">Gestao de redes sociais</h1>
          <h3 class="text-secondary text-uppercase">43.500,00KZ</h3>
          <h6 class="mb-4 text-uppercase">Mensal
          </h6>

          <p class="mb-4">
            A internet é um universo sem fronteiras, mas para que a sua empresa tenha sucesso nela é preciso se
            destacar. <br> Criar a estratégia certa de Marketing Digital nas redes social para a sua empresa irá atrair mais clientes em
            potencial com o custo menor que o marketing tradicional.

          </p>
        <p>Aumente as suas chances de ser visto e conquiste mais clientes.</p>
          <button class="btn btn-primary w-100 py-3" type="submit">SOLICITE UM ORÇAMENTO</button>
        </div>

        <div class="col-lg-6 pt-4" style="min-height: 500px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/gestao-de-midias-sociais.png"
              style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="container-xxl ">
    <div class="container">

      <div style="display: block; width: 100%;">

        <div class="tabs-container">




          <div aria-labelledby="tab_item-0"
            style="display: block;">

            <h2>Informação adicional</h2>

            <p> <i class="fa fa-check text-success me-3"></i> <strong>Criação de postagens</strong>  Não sabe o que vai postar? Não se preocupe, criamos o conteúdo com a cara do seu negócio.</p>
            <p> <i class="fa fa-check text-success me-3"></i> <strong>Planejamento</strong> Planejamos o que, onde e quando serão postados o seu conteúdo. </p>
             <p> <i class="fa fa-check text-success me-3"></i> <strong>Automação</strong> Automatizamos o processo para que você não perca tempo fazendo postagens diáriamente.</p>
             <p> <i class="fa fa-check text-success me-3"></i> <strong>Pacotes Econónomicos</strong> Opções de planos e pacotes que cabem no orçamento de qualquer empresa. </p>
             <p> <i class="fa fa-check text-success me-3"></i> <strong>Reçatórios</strong> Analise o desempenho de suas postagens através de diversas métricas nos nossos relatórios.</p>
 
          </div>
 

        </div>



      </div>


    </div>
  </div>


  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">

        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
          <h1 class="mb-5">Podes precissar Também </h1>
        </div>

        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_hospedagem.webp" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Hospedagem de Sites</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_dominios.jpg" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Domínio</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">
              E-mail profissional</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->



</div>