<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-hospedagem mb-5 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Hospedagem </h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white">Os melhores planos de hospedagem de sites para garantir sua presença na
            web! </li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->





  <!-- Service Start Explore Explore  -->
  <div class="container-fluid py-5 px-4 px-lg-0">
   
        <div class="ms-lg-5 ps-lg-5">
          <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
            <h1 class="mb-5">Escolha a sua hospedagem</h1>
          </div> 
        </div>
    
  </div>
  <!-- Service End -->



  <div class="container-kk py-7 fadeInUp" data-wow-delay="0.1s">

    <div class="img"></div>
    <div class="overlay3"></div>

    <div class="text11 container">

      <!-- Service Start -->
      <div class="container-fluid  px-4 px-lg-0">

        <div class="text-center text-lg-start wow fadeInUp py-3" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">Benefícios para hospedagem de site que você só encontra na JLSySTEM</h6>
          <h1 class="mb-0">Hospedagem de Site confiável e veloz</h1>
        </div>

        <div class="row g-0 ">
          <div class="col-md-12 col-lg-8">
            <div class="row g-0 ">
              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                   <i class="fa fa-water fa-1x text-primary p-2"></i></span>Plataforma completa</h4>
                  <p>Servidores projetados para seu negócio ter a melhor experiência na Internet. Os serviços são monitorados 24/7/365 por profissionais altamente qualificados.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                    <i class="fa fa-water fa-1x text-primary p-2"></i></span>Estamos sempre online</h4>
                  <p>Aqui você jamais ficará na mão. Nossa equipe de suporte técnico está à disposição 24 horas por dia, inclusive aos finais de semana e feriados.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                    <i class="fa fa-water fa-1x text-primary p-2"></i></span>Crescendo com você</h4>
                  <p>A JLSystem se preocupa com o crescimeto dos seus clientes. Queremos oferecer as ferramentas necessárias para o crescimento do seu negócio e, juntos, alcançarmos o sucesso!.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                    <i class="fa fa-water fa-1x text-primary p-2"></i></span>Custos incomparáveis</h4>
                  <p>Queremos fazer parte do seu sucesso, pois acreditamos que a Internet hoje é um dos melhores caminhos e por isso, oferecemos o que há de melhor em hospedagem por um preço acessível.</p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="p-4 border border-5 border-white bg-light">
              
              <h6 class="text-secondary text-uppercase py-4">Mais benefícios para você...</h6>
         
              <div class=" wow fadeInUp" data-wow-delay="0.1s">

                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Uptime garantido de 99.9%
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Liberdade de ir e vir
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Suporte técnico especializado
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Protecção DDoS
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Isolamento de recursos por cliente
                </p>
                
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Rede redundante e alta velocidade
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Painel de Controle cPanel
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Instalador automático Softaculous
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Suporte a PHP, Node.js®, Python, etc.
                </p>
              
                
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- Service End -->


    </div>
  </div>
 

  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">

        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
          <h1 class="mb-5">Podes precissar Também </h1>
        </div>

        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_hospedagem.webp" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Hospedagem de Sites</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_dominios.jpg" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Domínio</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">
              E-mail profissional</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->



</div>