<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-flyer_folder mb-5 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Criação de Flyer e folder </h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white">Elaboração de Flyers, folders e panfletos específicos para o seu
            público!</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="">Flyers e panfletos.</h1>
          <h3 class="text-secondary text-uppercase">4.000,00KZ</h3>
          <h6 class="mb-4 text-uppercase">impressão <span class="text-secondary text-uppercase">50.00kz</span> a <span
              class="text-secondary text-uppercase">500.00kz</span> cada [ dependendo da folha desejado ]</h6>

          <p class="mb-4">
            Elaboração de Flyers e panfletos específicos para o seu público. Um design profissional trará muito mais
            retorno na sua propaganda, indicando os melhores serviços ou produtos a serem divulgados de forma a ter
            contato com o consumidor.
          </p>

          <p class="mb-4">
            Entregamos nas extensões:
            JPG,PNG PDF e EPS(Photoshop).
          </p>

          <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar
            em Contacto WhatsApp</a>

        </div>
        <div class="col-lg-6 pt-4" style="min-height: 500px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/flayer.png"
              style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-xxl">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 pt-4" style="min-height: 500px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/folder.png"
              style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
          </div>
        </div>

        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-2">Folder.</h1>
          <h3 class="mb-4 text-secondary text-uppercase">9.000,00kz</h3>

          <p class="mb-4">
            Elaboração de Folder para o seu público. Um design profissional trará muito mais
            retorno na sua propaganda, indicando os melhores serviços ou produtos a serem divulgados de forma a ter
            contato com o consumidor.
          </p>
          <p>

            Entrega em:
            <br>
            JPG,PNG PDF e EPS(Photoshop).
          </p>
          <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar
            em Contacto WhatsApp</a>

        </div>
      </div>
    </div>
  </div>





  <div class="container-xxl">
    <div class="container">

      <div class="tabs-container">
        <div aria-labelledby="tab_item-0" style="display: block;">
          <h2>Descrição</h2>
          <p> <i class="fa fa-check text-success me-3"></i> O cliente deverá mencionar as cores que tem preferencia para
            que possa ser desenvolvida a arte e quais as
            informações que farão parte do Flyer, panfleto ou folder.</p>
        </div>


        <div class="tab-content">

          <h2>Informação adicional</h2>

          <table class="p_attributes table table-striped">
            <tbody>
              <tr class="">
                <th class="">Serviço</th>
                <td>
                  <p>Criação de Cartões de visitas, pronto para envio para gráfica.
                    (CorelDraw).</p>
                </td>
              </tr>
              <tr class="">
                <th class="">Entrega em</th>
                <td>
                  <p>PNG, JPG, PDF e EPS</p>
                </td>
              </tr>
              <tr class="">
                <th class="">Prazo</th>
                <td>
                  <p>A entrega é feita em 3 dia(útil).</p>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>
  </div>




  <div class="container-xxl">
    <div class="container">
      <div class="row g-5 py-5">
        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="">Diferença entre flyer, folheto, panfleto e folder?</h1>
          <p class=" ">
            Flyer nada mais é do que folheto na língua ingle
          </p>
          <p class=" ">
            Já Folheto ou Panfleto, na wikipedia temos “um meio de divulgação de uma ideia ou marca, feito de papel e de
            fácil manuseabilidade. Por seu baixo custo é muito utilizado para atingir grandes públicos em pouco tempo.”
            Na indústria Gráfica esse tipo de material pode ter vários tamanhos, mas sempre sem acabamento adicional de
            dobra.
          </p>
          <p class=" ">
            Em termos gerais, flyer, folheto e panfleto traduzem o mesmo produto.
            <br>
            Já o folder tem o objetivo de passar mais informações e por isso sua principal característica é a utilização
            de dobras.
          </p>
          <p class=" ">
            No resumo, se tem dobra, é folder. Se não tem, é folheto, panfleto ou flyer.
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">

        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
          <h1 class="mb-5">Podes precissar Também </h1>
        </div>

        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_hospedagem.webp" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Hospedagem de Sites</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_dominios.jpg" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Domínio</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">
              E-mail profissional</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->



</div>