<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-logo mb-5 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Criação de logotipo</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white">As primeiras aparições são cruciais: reduza sua taxa de rejeição e
            retenha mais clientes com gráficos criativos e atraentes que mostrem sua empresa de maneira atraente e
            versátil</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">Aumente a credibilidade da sua empresa no mercado</h6>
          <h1 class="mb-4">Criação de Logo.</h1>
          <p class="mb-4">
            Muitas marcas são reconhecidas pela cor ou por detalhes da sua Logo. É incrível como ela tem o poder de se
            fixar na mente dos consumidores.
          </p>
          <p class="mb-4">
            Designs de logotipos profissionais feitos sob medida para a cultura da sua marca, valores fundamentais e
            distinção. Nós adotamos uma abordagem estratégica para criar identidades de marca exclusivas.
          </p>
          <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar em Contacto WhatsApp</a>

        </div>
        <div class="col-lg-6 pt-4" style="min-height: 500px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100" src="assets/img/logo-inicio.jpg"
              style="object-fit: cover; padding: 0 0 50px 50px;" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>





  <div class="container-xxl">
    <div class="container">
 
        <div class="tabs-container">
          <div aria-labelledby="tab_item-0" style="display: block;">
 
         <h2 class="">Por que criar a Logo para a sua empresa?</h2>
          <p class="fw-medium">
            O reconhecimento da sua empresa começa pela Logo. Esteja na mente dos consumidores sempre que eles pensarem
            no seu segmento e aumente suas vendas.
          </p>
            
              <div class="row g-5">
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">

                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Se posicione no mercado
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Tenha uma identidade visual e seja lembrado
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Atraia o público certo com mais facilidade
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Seja reconhecido
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Aproxime-se de seu consumidor
                </p>
              </div>
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
      
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Estimule a repetição de compra
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Aumente a lealdade
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Funcionamento 24 horas por dia
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Alcance maior de consumidores
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Se diferencia dos concorrentes
                </p>
              </div>
            </div>
            </div>

          <div aria-labelledby="tab_item-0" style="display: block;">

            <h2>Descrição</h2>
            <p> <i class="fa fa-check text-success me-3"></i> O cliente deverá mencionar as cores que tem preferencia
              para que possa ser desenvolvida a arte e quais as informações que farão parte do logotipo.</p>
          </div>


          <div class="tab-content">

            <h2>Informação adicional</h2>

            <table class="p_attributes table table-striped">
              <tbody>
                <tr class="">
                  <th class="">Serviço</th>
                  <td>
                    <p>Criação de Cartões de visitas, pronto para envio para gráfica.
                      (CorelDraw).</p>
                  </td>
                </tr>
                <tr class="">
                  <th class="">Entrega em</th>
                  <td>
                    <p>PNG, JPG, PDF e EPS</p>
                  </td>
                </tr>
                <tr class="">
                  <th class="">Prazo</th>
                  <td>
                    <p>A entrega é feita em 3 dia(útil).</p>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
 

    </div>
  </div>
 

  <!-- Booking Start -->


  <div class="container-mm  fadeInUp" data-wow-delay="0.1s">

    <div class="overlay"></div>

    <div class="text text-center">

      <div class="row">

        <div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/portifolio/logo001.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/portifolio/logo002.jpg" alt="">
          </div>

        </div>
        <div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/portifolio/logo005.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/portifolio/logo004.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/portifolio/logo0010.jpg" alt="">
          </div>

        </div>
        <div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/portifolio/logo008.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/portifolio/logo0011.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/portifolio/logo009.jpg" alt="">
          </div>

        </div>



      </div>


    </div>
  </div>

  <!-- Booking End -->


  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">

        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
          <h1 class="mb-5">Podes precissar Também </h1>
        </div>

        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_hospedagem.webp" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Hospedagem de Sites</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_dominios.jpg" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Domínio</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">
              E-mail profissional</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->



</div>