<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-loja mb-5 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Criação de lojas virtuais</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white">Faça sua empresa vender mais na internet. Sabemos como fazer!</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">O mercado do e-commerce em Angola só cresce</h6>
          <h1 class="mb-4">Você já pensou em ter uma loja virtual?</h1>
          <p>
            À medida que as compras online se tornam cada vez mais populares, serviços de e-commerce eficientes e
            intuitivos são a chave para garantir a satisfação do cliente e o sucesso dos negócios no mundo digital.
          </p>

          <p class="mb-4">
            Expanda seus negócios com nossos serviços de e-commerce de alta qualidade.</p>

          <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar
            em Contacto WhatsApp</a>

        </div>
        <div class="col-lg-6 pt-4" style="min-height: 500px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/ecommerce.jpg"
              style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
          </div>
        </div>
      </div>

      <div class="tab-content">

        <h2>Por que criar uma loja virtual?</h2>
        <p> Não existem fronteiras para quem tem uma loja virtual. Sua empresa tem oportunidades de gerar vendas para o
          mundo inteiro. Que tal potencializar suas vendas criando um e-commerce com a JLSystem.</p>
        <table class="p_attributes table table-striped">
          <tbody>
            <tr class="">
              <th class=""><i class="fa fa-check text-success me-3"></th>
              <td>
                <p>Menor custo de manutenção</p>
              </td>
            </tr>
            <tr class="">
              <th class=""><i class="fa fa-check text-success me-3"></th>
              <td>
                <p>Funcionamento 24 horas por dia</p>
              </td>
            </tr>
            <tr class="">
              <th class=""><i class="fa fa-check text-success me-3"></th>
              <td>
                <p>Alcance maior de consumidores</p>
              </td>
            </tr>
            <tr class="">
              <th class=""><i class="fa fa-check text-success me-3"></th>
              <td>
                <p> Os riscos são menores</p>
              </td>
            </tr>
          </tbody>
        </table>


      </div>

    </div>
  </div>



  <!-- Booking Start -->

  <div class="container-ll mb-4 mt-4 fadeInUp" data-wow-delay="0.1s">

    <div class="img"></div>
    <div class="overlay"></div>

    <div class="text container">

      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">O mercado do e-commerce em Angola só cresce</h6>

          <h1 class="text-white mb-4">CRIAMOS SUA LOJA VIRTUAL PROFISSIONA</h1>
          <h6 class="text-white mb-4">Não existem fronteiras para quem tem uma loja virtual, a sua empresa ficará aberta
            24h
            por dia no ambiente virtual. <br> Com oportunidade de gerar vendas para o mundo inteiro</h6>


          <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar
            em Contacto WhatsApp</a>

        </div>
        <div class="col-lg-6 " style="min-height: 400px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/LOJA-ONLIN.png"
              style="object-fit: cover; padding: 0 0 0px 10px;" alt="">
          </div>
        </div>

      </div>




    </div>
  </div>

  <!-- Booking End -->



  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">

        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
          <h1 class="mb-5">Podes precissar Também </h1>
        </div>

        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_hospedagem.webp" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Hospedagem de Sites</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_dominios.jpg" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Domínio</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">
              E-mail profissional</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->



</div>