<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-papel mb-5 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Criação de Papel Timbrado e Envelope </h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white">Faça sua empresa vender mais na internet. Sabemos como fazer!</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="">Papel Timbrado.</h1>
          <h3 class="text-secondary text-uppercase">4.000,00KZ</h3>
          <h6 class="mb-4 text-uppercase">impressão <span class="text-secondary text-uppercase">150.00kz</span> cada
          </h6>

          <p class="mb-4">
            Papel Timbrado, para Petições e/ou documentos personalizados da sua empresa. Entregamos em vários formatos.

          </p>

          <p class="mb-4">
            Entregamos nas extensões:
            AI, PDF, EPS(Photoshop) e .doc.
          </p>

          <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar em Contacto WhatsApp</a>

        </div>
        <div class="col-lg-6 pt-4" style="min-height: 500px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/papel-timbrado.jpg"
              style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-xxl">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 pt-4" style="min-height: 500px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/envelope_oficio.jpg"
              style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
          </div>
        </div>

        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-2">Envelope Ofício.</h1>
          <h3 class="mb-4 text-secondary text-uppercase">5.000,00kz</h3>

          <p class="mb-4">
            Envelope Ofício – Criamos a arte personalizada do seu envelope, entregamos pronta para envio para gráfica.

          </p>
          <p>

            Entrega em:
            <br>
            .AI, PDF e EPS (Photoshop).
          </p>
          <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar em Contacto WhatsApp</a>

        </div>
      </div>
    </div>
  </div>




  <div class="container-xxl py-5">
    <div class="container">

      <div style="display: block; width: 100%;">
       
        <div class="tabs-container">

          <div aria-labelledby="tab_item-0"
            style="display: block;">

            <h2>Descrição</h2>

            <p><strong>Papel Timbrado</strong>, para Petições e/ou documentos personalizados da sua empresa.
              Entregamos em
              vários formatos.</p>
            <p><strong>Entregamos nas extensões:<br>
              </strong>AI, PDF, EPS(CorelDraw) e .doc.</p>
          </div>

          <div class="tab-content">

            <h2>Informação adicional</h2>

            <table class="p_attributes table table-striped">
              <tbody>
                <tr class="">
                  <th class="">Serviço</th>
                  <td>
                    <p>Criação de Arte do Papel Timbrado, pronto para envio para gráfica. Entrega em .AI, PDF e EPS
                      (CorelDraw).</p>
                  </td>
                </tr>
                <tr class=" --attribute_prazo">
                  <th class="">Prazo</th>
                  <td>
                    <p>A entrega é feita em 1 dia(útil).</p>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>



      </div>


    </div>
  </div>






  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">

        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
          <h1 class="mb-5">Podes precissar Também </h1>
        </div>

        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_hospedagem.webp" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Hospedagem de Sites</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_dominios.jpg" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">Domínio</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
          <div class="overflow-hidden">
            <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
          </div>
          <div class="d-flex align-items-center justify-content-between bg-light p-4">
            <h5 class="text-truncate me-3 mb-0">
              E-mail profissional</h5>
            <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i
                class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->



</div>