<div>

  <!-- Page Header Start -->
  <div class="container-fluid page-site mb-5 py-5">
    <div class="container">
      <h1 class="display-3 text-white mb-3 animated slideInDown">CRIAÇAO DE WEBSITE</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item text-white">Tenha um Site de alta performance para sua empresa.</li>

        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">Criação de Site Profissional!</h6>
          <h1 class="mb-4">O sites mais poderosos que você terá para o seu negócio.</h1>
         <p>
              Nos tempos modernos sua empresa precisa estar muito bem posicionada na internet.
            </p>
            <p class="mb-4">Sua presença on-line é o que ajuda as empresas a crescer por ter alta visibilidade entre os
            clientes em potencial. Qualquer negócio, grande ou pequeno, deve ter a expansão da presença on-line como
            parte fundamental de sua estratégia de marketing on-line</p>

            <p>
              Fale com nossa equipe, peça seu orçamento e seja mais um parceiro de alto nível da JLSySTEM. 
            </p>
           
 
            <a href="https://wa.me/244952472527" target="_blank" class="btn btn-primary w-100 py-3" type="submit">Entrar em Contacto WhatsApp</a>
           
        </div>
        <div class="col-lg-6 pt-4" style="min-height: 300px;">
          <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s"> 
            <img class="position-absolute img-fluid w-100 h-100" src="assets/img/site-institucional-modelo.png"
              style="object-fit: cover; padding: 0 0 20px 20px;" alt="">
          </div>
        </div>
       </div>
    </div>
  </div>
 
  <!-- About End -->

  <!-- Service Start Explore Explore  -->
  <div class="container-fluid py-5 px-4 px-lg-0">
    <div class="row g-0">
    
      <div class="col-md-12 col-lg-12">
        <div class="ms-lg-5 ps-lg-5">
          <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
            <h1 class="mb-5">Explore nossos planos</h1>
          </div>
        
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->

  <div class="container-kk py-6  fadeInUp" data-wow-delay="0.1s">

    <div class="img"></div>
    <div class="overlay3"></div>

    <div class="text11 container">

      <!-- Service Start -->
      <div class="container-fluid  px-4 px-lg-0">

        <div class="text-center text-lg-start wow fadeInUp py-3" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">Benefícios para criar seu site com a JLSySTEM</h6>
          <h1 class="mb-0">O Que Nosso Serviço Inclui?</h1>
        </div>

        <div class="row g-0 ">
          <div class="col-md-12 col-lg-8">
            <div class="row g-0 ">
              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                   <i class="fa fa-water fa-1x text-primary p-2"></i></span>Site Responsivo</h4>
                  <p>Seu site pronto para funcionar corretamente em qualquer dispositivo. Computadores, celulares e tablets, adaptado a qualquer tamanho basiando no aparelho.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                    <i class="fa fa-water fa-1x text-primary p-2"></i></span>Estamos sempre online</h4>
                  <p>Aqui você jamais ficará na mão. Nossa equipe de suporte técnico está à disposição 24 horas por dia, inclusive aos finais de semana e feriados.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                    <i class="fa fa-water fa-1x text-primary p-2"></i></span>Crescendo com você</h4>
                  <p>A JLSystem se preocupa com o crescimeto dos seus clientes. Queremos oferecer as ferramentas necessárias para o crescimento do seu negócio e, juntos, alcançarmos o sucesso!.</p>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="p-4">
                   <h4 class="mb-3"><span class="border border-5 border-white mb-4 m-2" style="width: 45px; height: 45px;">
                    <i class="fa fa-water fa-1x text-primary p-2"></i></span>Custos incomparáveis</h4>
                  <p>Queremos fazer parte do seu sucesso, pois acreditamos que a Internet hoje é um dos melhores caminhos e por isso, oferecemos o que há de melhor em hospedagem por um preço acessível.</p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="p-4 border border-5 border-white bg-light">
              
              <h6 class="text-secondary text-uppercase py-4">Mais benefícios para você...</h6>
         
              <div class=" wow fadeInUp" data-wow-delay="0.1s">

                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Contacto mais fácil com o cliente
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Expande seu mercado e área de actuação
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Mais credibilidade e fortalecimento da marca
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Pode ser um grande diferencial em relação aos seus concorrentes
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Aplicação de marketing de conteúdo
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Menor custo na aquisição de clientes
                </p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>
                  Maior alcance, etc.
                </p>
             
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- Service End -->


    </div>
  </div>


 <!-- Service Start -->
 <div class="container-xxl py-5">
  <div class="container">
      <div class="row g-4">
      
        <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-secondary text-uppercase">NOSSOS PLANOS</h6>
          <h1 class="mb-5">Podes precissar Também </h1>
        </div>

          <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
              <div class="overflow-hidden">
                  <img class="img-fluid w-100 h-100" src="assets/img/sc_hospedagem.webp" alt="">
              </div>
              <div class="d-flex align-items-center justify-content-between bg-light p-4">
                  <h5 class="text-truncate me-3 mb-0">Hospedagem de Sites</h5>
                  <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
              <div class="overflow-hidden">
                  <img class="img-fluid w-100 h-100" src="assets/img/sc_dominios.jpg" alt="">
              </div>
              <div class="d-flex align-items-center justify-content-between bg-light p-4">
                  <h5 class="text-truncate me-3 mb-0">Domínio</h5>
                  <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
              <div class="overflow-hidden">
                  <img class="img-fluid w-100 h-100" src="assets/img/sc_email.png" alt="">
              </div>
              <div class="d-flex align-items-center justify-content-between bg-light p-4">
                  <h5 class="text-truncate me-3 mb-0">
                    E-mail profissional</h5>
                  <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Service End -->



</div>