<!-- Service Start -->
<div class="container-fluid py-5  px-lg-0">
   
    <header class="header">
        <div class="container">
            <div class="row v-center">
              
                <!-- menu start here -->
                <div class="header-item item-center">
                    <div class="menu-overlay">
                    </div>
                    <nav class="menu">
                        <div class="mobile-menu-head">
                            <div class="go-back"><i class="fa fa-angle-left"></i></div>
                            <div class="current-menu-title"></div>
                            <div class="mobile-menu-close">&times;</div>
                        </div>
                        <ul class="menu-main">
                            
                            <li class="menu-item-has-children">
                                <a href="#">Shop <i class="fa fa-angle-down"></i></a>
                                <div class="sub-menu mega-menu mega-menu-column-4">
                                
                                  <div class="list-item">
                                       <img src="img/shop1.jpg" alt="shop">
                                  </div>
                                </div>
                            </li>
   
                            <li class="menu-item-has-children">
                               <a href="#">kikm <i class="fa fa-angle-down"></i></a>
                               <div class="sub-menu mega-menu mega-menu-column-4">
                               
                                 <div class="list-item">
                                    kimmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
                                 </div>
                               </div>
                           </li>
                        
                        </ul>
                    </nav>
                </div>
                <!-- menu end here -->
                <div class="header-item item-right">
                     
                 
                    <div class="mobile-menu-trigger">
                       <input type="text">
                    </div>
   
                   
   
                </div>
            </div>
   
       
        </div>
    
    </header>

</div>
    <!-- Service End -->