<div class="menu_principal">
    <!-- Spinner Start
     <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    
    -->

    <!-- Spinner End proceed -->

    <!-- Navbar start -->
    <div class="container-fluid fixed-top " style="border: 1px solid #dee2e6;
    border-radius: 10px; background-color: #141414;; box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25) ">

        <div class="container px-0 ">
            <nav class="navbar navbar-light navbar-expand-xl" style="background-color: #141414;;">
                <div class="d-flex m-3 me-0 ">

                    <button class="navbar-toggler bg-white me-4" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"><i class="fa fa-bars text-primary"></i></button>

                    <a href="#" class="position-relative me-4 my-auto">
                        elilo
                    </a>

                    <div class="d-flex position-absolute" style=" right: 0px; ">
                        <div class=" inputBox collapse navbar-collapse  me-4">
                            <input type="search" class="form-control p-2" data-bs-toggle="modal"
                                data-bs-target="#searchModal">
                            <span>Buscar Produto</span>
                        </div>

                        <button
                            class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4"
                            data-bs-toggle="modal" data-bs-target="#searchModal"><i
                                class="fas fa-search text-primary"></i></button>

                        <!-- Modal do carinho -->
                        <div class="header">

                            <div class="row v-center">

                                <div class="header-item item-center ">

                                    <nav class="menu" :class="{ active: isActive1 }">
                                        <div class="mobile-menu-head">
                                            <div class="go_back" @click="mostrar()" v-if="isActive3">
                                                <i class="fa fa-angle-left"></i>
                                            </div>
                                            <div class="current-menu-title"> oii</div>
                                            <a @click="isActive1 = !isActive1">
                                                <div class="mobile-menu-close">&times;</div>
                                            </a>
                                        </div>
                                        <div class="menu-main ">


                                            <li class="menu-item-has-children ">


                                                <button
                                                    class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4 btn-carinho"
                                                    @click="mostrar()" type="button">Prosseguir com a compra</button>
 
                                                <!-- Modal do carinho 1 -->

                                                <c-carinho></c-carinho>

                                                <!--fim Modal do carinho 1 -->


                                                <div class="sub-menu mega-menu mega-menu-column-4 "
                                                    :class="{ active: isActive2 }"
                                                    style="background-color: rgb(255, 255, 255);">

                                                    <div>
                                                        fimmmmmmmm
                                                    </div>

                                                </div>
                                            </li>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- fim  Modal do carinho -->


                        <a @click="isActive1 = !isActive1" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                            <span
                                class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                                style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                        </a>
                        <a href="#" class="my-auto">
                            <i class="fas fa-user fa-2x"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">elilo</h5>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="Buscar Produto"
                                aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Search End -->


</div>
<!-- Navbar End -->