<div class="pd-t">

  <div class="swiper mySwiper cat-item2 bg-dark">
    <div class="swiper-wrapper pl-4 px-4">
      <div class="swiper-slide pt-1 pb-1 ">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">FRUTAS & LEGUMES</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class=" pl-2 px-2">BEBIDAS</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">ÁLCOOL</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">CAFÉ & CHÁ</span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">PETISCOS
          </span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">PADARIA
          </span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2"> PASTELARIA & DOÇARIA </span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">SAUDÁVEL</span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">LACTICÍNIOS E OVOS
          </span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">CEREAIS & BARRAS
          </span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">ARROZ & MASSA
          </span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">GELADOS & SOBREMESAS
          </span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">MOLHOS & CONDIMENTOS</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">LATAS E FRASCOS</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1 ">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2"> HIGIENE PESSOAL</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">BEBÉ</span>
        </a>
      </div>

      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">CASA</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">ELETRODOMÉSTICOS</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1 ">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">ELECTRÓNICA</span>
        </a>
      </div>
      <div class="swiper-slide pt-1 pb-1">
        <a class="d-flex m-2 py-2 bg-light rounded-pill">
          <span class="text-dark pl-2 px-2">PAPELARIA</span>
        </a>
      </div>
    </div>
    <div class="swiper-button-next swiper-navBtn "></div>
    <div class="swiper-button-prev swiper-navBtn "></div>
  </div>




  <!-- Fruits Shop Start-->
  <div class="fruite  ">
    <div class="container pt-5">
      <div class="tab-class text-center">

        <div class="tab-content">
          <div class="row ">

            <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3" v-for="cat in productos">
              <div class="rounded position-relative fruite-item" style="height: 10%;">
                <div class="fruite-img">
                  <img :src="cat.image" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px; font-size: 12px; height: 30px;">
                  {{ cat.categoria }}</div>
                <div class="p-2 border border-secondary border-top-0 rounded-bottom bg-white">
                  <p style="font-size: 12px; height: 30px;"> {{ cat.name }}</p>
                  <p class="text-dark fs-6 fw-bold mb-0">$4.99 / kg</p>
                  <div class="d-flex justify-content-between flex-lg-wrap">

                    <a v-if="awesome" href="#" class="btn border border-secondary rounded-pill px-3 text-primary"
                      @click="awesome = !awesome" style="width: 100%;"><i
                        class="fa fa-shopping-bag me-2 text-primary"></i> Adiciona</a>

                    <div v-else class="input-group quantity border border-secondary rounded-pill">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-minus rounded-circle bg-light border" @click="qdd--">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                      <input type="text" class="form-control form-control-sm text-center border-0" v-model="qdd">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-plus rounded-circle bg-light border" @click="qdd++">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fruits Shop End-->



</div>