<div class="menu_principal">
    <!-- Spinner Start
     <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    
    -->
  <!-- Navbar start -->
  <div class="container-fluid fixed-top" style="background-color: rgb(29, 9, 66);">
 
    <div class="container px-0" >
        <nav class="navbar navbar-light  navbar-expand-xl" >
            <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">elilo</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse" style="background-color: rgb(29, 9, 66);">
                <div class="navbar-nav mx-auto"> 
                    <div class="d-flex justify-content-between">
                        <div class="top-info ps-2"> 
                            <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
                        </div>
                        <div class="top-link pe-2">
                            <a href="#" class="text-white"><small class="text-white mx-2">Política de Privacidade</small>/</a>
                            <a href="#" class="text-white"><small class="text-white mx-2">Termos de Uso</small>/</a>
                            <a href="#" class="text-white"><small class="text-white ms-2">Vendas e reembolsos</small></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex m-3 me-0">
                     <a href="/shop/index.html#/" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                         
                    </a>
                    <a href="#" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


</div>
<!-- Navbar End -->