<div class="pd-t">
 
    <!-- Fruits Shop Start-->
    <div class="fruite  ">
        <div class="container pt-5">
            <div class="tab-class text-center">

                <div class="tab-content">
                    <div class="row ">

                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/frutas.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">FRUTAS & LEGUMES</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/arroz.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">ARROZ & MASSA</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/alcol.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">ÁLCOOL</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/bebida.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">BEBIDAS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/casa.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">CASA</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/laticinio.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">LACTICÍNIOS E OVOS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/padaria.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">PADARIA</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/saudavel.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">SAUDÁVEL</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/pastelaria.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">PASTELARIA & DOÇARIA</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/molhos.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">MOLHOS & CONDIMENTOS</p>
                                </div>
                            </div>
                        </div> 

                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/latas.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">LATAS E FRASCOS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/higiene.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">HIGIENE PESSOAL</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/congelado.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">CONGELADOS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/bebe.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">BEBÉ</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/eletrodomestico.png"
                                        class="img-fluid w-100 rounded-top" alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">ELETRODOMÉSTICOS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-xl-2 col-6 pt-3">
                            <div class="rounded position-relative fruite-item bg-white">
                                <div class="fruite-img">
                                    <img src="./assets/img/categoria/eletronica.png" class="img-fluid w-100 rounded-top"
                                        alt="">
                                </div>
                                <div class="p-1 border border-secondary border-top-0 rounded-bottom">
                                    <p class=" fs-7 text-dark fw-bold">ELECTRÓNICA</p>
                                </div>
                            </div>
                        </div>




                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->


</div>