<div class="pd-t">
  
        <!-- Categories Start -->
        <div class="container-fluid pt-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                    class="bg-secondary pr-3">Categorias</span></h2>
            <div class="row px-xl-5 pb-3">

                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/frutas.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">FRUTAS & LEGUMES</h6>
                                <small class="text-body small">10 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/arroz.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">ARROZ & MASSA</h6>
                                <small class="text-body small">10 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/alcol.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">ÁLCOOL</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/bebida.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">BEBIDAS</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/casa.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">CASA</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>


                


                
                
                
                
                
                
                

                
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/laticinio.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">LACTICÍNIOS E OVOS</h6>
                                <small class="text-body small">10 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/padaria.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">PADARIA</h6>
                                <small class="text-body small">10 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/saudavel.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">SAUDÁVEL</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/pastelaria.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">PASTELARIA & DOÇARIA</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div> 

                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/molhos.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">MOLHOS & CONDIMENTOS</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/latas.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">LATAS E FRASCOS</h6>
                                <small class="text-body small">10 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/higiene.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">HIGIENE PESSOAL</h6>
                                <small class="text-body small">10 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/congelado.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">CONGELADOS</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/bebe.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6"> BEBÉ</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/eletrodomestico.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">ELETRODOMÉSTICOS</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/eletronica.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">ELECTRÓNICA</h6>
                                <small class="text-body small">10 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/arroz.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">PETISCOS</h6>
                                <small class="text-body small">10 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/alcol.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">ÁLCOOL</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/bebida.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">BEBIDAS</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4 p-2">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="./assets/img/produtos/casa.png" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="h6">CASA</h6>
                                <small class="text-body small">100 Produtos</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Categories End -->
 
</div>