<!-- Service Start -->
<div class="">


    <nav class="menu">
        <div class="mobile-menu-head">
            <div class="go-back"><i class="fa fa-angle-left"></i></div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close">&times;</div>
        </div>

        <div class="">

            <div class="inputBoxContente">
                <div class="inputBox">
                    <input type="text" required="required">
                    <span>Buscar Produto</span>
                </div>
            </div>
            <!-- Categories Start -->
            <div class="container-fluid pt-5">
                <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                        class="bg-secondary pr-3">Categorias</span></h2>
                <div class="row px-xl-5 pb-3">

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/frutas.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>FRUTAS & LEGUMES</h6>
                                    <small class="text-body">10 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/arroz.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>PETISCOS</h6>
                                    <small class="text-body">10 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/alcol.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>ÁLCOOL</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/bebida.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>BEBIDAS</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/casa.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>CASA</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>



                    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/frutas.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>FRUTAS & LEGUMES</h6>
                                    <small class="text-body">10 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/arroz.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>PETISCOS</h6>
                                    <small class="text-body">10 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/alcol.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>ÁLCOOL</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/bebida.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>BEBIDAS</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/casa.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>CASA</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/frutas.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>FRUTAS & LEGUMES</h6>
                                    <small class="text-body">10 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/arroz.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>PETISCOS</h6>
                                    <small class="text-body">10 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/alcol.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>ÁLCOOL</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/bebida.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>BEBIDAS</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/casa.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>CASA</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/frutas.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>FRUTAS & LEGUMES</h6>
                                    <small class="text-body">10 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/arroz.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>PETISCOS</h6>
                                    <small class="text-body">10 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/alcol.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>ÁLCOOL</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/bebida.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>BEBIDAS</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1">
                        <a class="text-decoration-none" href="">
                            <div class="cat-item d-flex align-items-center mb-4">
                                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                    <img class="img-fluid" src="./assets/img/produtos/casa.png" alt="">
                                </div>
                                <div class="flex-fill pl-3">
                                    <h6>CASA</h6>
                                    <small class="text-body">100 Produtos</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Categories End -->


        </div>
    </nav>



</div>
<!-- Service End -->