<div>
  <div class="container-fluid p-0 mb-0">
    <div class="header-carousel position-relative  pb-2 mb-2">
      <div class="swiper slide-principal">
        <div class="swiper-wrapper">
          <div class="swiper-slide number-slide">
            <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="./assets/img/proxy-image-2.jpeg" alt="" />
            
            </div>
          </div> 

          <div class="swiper-slide number-slide">
            <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="./assets/img/proxy-image-2.jpeg" alt="" />
              
            </div>
          </div>
        </div>
 
        <div class="swiper-pagination"></div>
      </div>
      <!-- Carousel Start -->
    </div>
  </div>
</div>
<!-- Carousel End -->
